<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 pt-52">
  <div class="px-4 py-5 sm:p-6">
    <div class="bg-gray-50 overflow-hidden shadow-lg shadow-slate-400 rounded-3xl">
        <div class="min-h-full w-full flex">
          <div class="flex-1 flex flex-col w-2/3 py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm lg:w-96">
              <img class="pl-16 h-28 w-auto justify-self-center" src="../../assets/jarchitects.png" alt="Workflow">
              <div class="mt-8">
                <div class="mt-6">
                  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" #authForm="ngForm" class="space-y-6">
                    <div>
                      <label for="email" class="block text-sm font-medium text-gray-700"> Email address </label>
                      <div class="mt-1">
                        <input email
                        required
                               placeholder="email"
                               required type="text" name="email" id="email" formControlName="email"
 class="appearance-none block w-full h-12 px-3 py-2 border border-gray-300 rounded-full shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      </div>
                    </div>

                    <div class="space-y-1">
                      <label for="password" class="block text-sm font-medium text-gray-700"> Password </label>
                      <div class="mt-1">
                        <input
                          password
                          required
                          placeholder="password"
                          required type="password" name="password" id="password" formControlName="password"
                          autocomplete="current-password"
                          class="appearance-none block w-full h-12 px-3 py-2 border border-gray-300 rounded-full shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      </div>
                    </div>

                    <div class="flex items-center justify-between pl-28">
                      <div class="text-base">
                        <a href="#" class="font-medium text-black underline hover:text-Jblue"> Forgot your password? </a>
                      </div>
                    </div>

                    <div class="pl-16">
                      <button
                      type="submit" class=" w-3/4 flex justify-center py-2 px-4 border border-transparent rounded-full h-12 shadow-sm text-lg font-medium text-white bg-Jorange hover:bg-Jblue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sign in</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden lg:block relative w-0 flex-1">
            <img
            class="absolute h-1/2 md:h-full w-full object-cover md:rounded-r-3xl"
            src="../../assets/login.png"
            alt=""
             />
           <div class="absolute md:mt-32 pl-8">
            <h1 class="text-white font-bold text-4xl font-sans pt-3 text-center">
              Welcome!
            </h1>
            <p class="text-white mt-1 text-center ml-10 mr-10">
              Enter your personal details to log in
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>


  </div>

