<div class="max-w-7xl mt-8 mb-12 mx-auto px-4 sm:px-6 lg:px-8 bg-Jblue rounded-3xl">
  <div class="max-w-3xl mx-auto">
    <form class="space-y-8 divide-y divide-gray-200 ">
      <div class="space-y-8 divide-y divide-gray-200">
        <div class="pt-8 pb-8">
          <div>
            <h3 class="text-lg leading-6 font-large text-white text-2xl mb-4">Certification</h3>
            <p class="mt-1 text-sm text-white">Use a permanent address where you can receive mail.</p>
          </div>

          <hr>

          <div class="sm:col-span-3 mt-4">
            <label for="name" class="block text-sm font-medium text-white">Name</label>
            <div class="mt-1">
              <input type="text" name="name" id="name" autocomplete="given-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:col-span-6 mt-4">
            <label for="about" class="block text-sm font-medium text-white"> Description </label>
            <div class="mt-1">
              <textarea id="about" name="about" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
            </div>
            <p class="mt-2 text-sm text-white">Write a few sentences about yourself.</p>
          </div>


          <div class="sm:col-span-3 mt-4">
            <label for="instructor" class="block text-sm font-medium text-white"> Instructor </label>
            <input type="text" name="instructor" id="instructor" autocomplete="family-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md h-8">
          </div>

          <div class="sm:col-span-3 mt-4">
            <label for="date-earned" class="block text-sm font-medium text-white"> Date earned </label>
            <input id="date-earned" name="date-earned" type="date-earned" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md h-8">
          </div>

          <div class="sm:col-span-3 mt-4">
            <label for="length" class="block text-sm font-medium text-white"> Length </label>
            <input id="length" name="length" type="length" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md h-8">
          </div>

          <button type="button" class="flex bg-white items-center h-10 w-40 rounded-xl mt-4">
            <p class="ml-10 text-Jblue font-bold text-2xl">Submit</p>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>





