<div class="max-w-7xl mt-8 mb-12 mx-auto px-4 sm:px-6 lg:px-8 bg-Jblue rounded-3xl">
  <div class="max-w-3xl mx-auto">
    <form [formGroup]="educationForm" (ngSubmit)="onSubmit()" class="space-y-8 divide-y divide-gray-200 ">
      <div class="space-y-8 divide-y divide-gray-200">
        <div class="pt-8 pb-8">
          <div>
            <h3 class="text-lg leading-6 font-large text-white text-2xl mb-4">Education</h3>
            <p class="mt-1 text-sm text-white">Use a permanent address where you can receive mail.</p>
          </div>

          <hr>

          <div class="sm:col-span-3 mt-4">
            <label for="diploma" class="block text-sm font-medium text-white">Diploma</label>
            <div class="mt-1">
              <input type="text" name="diploma" id="diploma" formControlName="diploma" autocomplete="given-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:col-span-6 mt-4">
            <label for="description" class="block text-sm font-medium text-white"> Description </label>
            <div class="mt-1">
              <textarea id="description" name="description" formControlName="description" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
            </div>
            <p class="mt-2 text-sm text-white">Write a few sentences about yourself.</p>
          </div>

          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">


            <div class="sm:col-span-3">
              <label for="school" class="block text-sm font-medium text-white"> School </label>
              <div class="mt-1">
                <input type="text" name="school" id="school" formControlName="school" autocomplete="family-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="fieldOfStudy" class="block text-sm font-medium text-white"> Field of study </label>
              <div class="mt-1">
                <input id="fieldOfStudy" name="fieldOfStudy" type="email" formControlName="fieldOfStudy" autocomplete="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-white"> Country </label>
              <div class="mt-1">
                <select id="country" name="country" formControlName="country"  autocomplete="country-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Mexico</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="website" class="block text-sm font-medium text-white"> Website </label>
              <div class="mt-1">
                <input type="text" name="website" id="website" formControlName="website"  autocomplete="given-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="street" class="block text-sm font-medium text-white"> Street </label>
              <div class="mt-1">
                <input type="text" name="street" id="street" formControlName="street"  autocomplete="street-address" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="number" class="block text-sm font-medium text-white"> House number </label>
              <div class="mt-1">
                <input type="text" name="street" id="number" formControlName="number"  autocomplete="street-address" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-2">
              <label for="city" class="block text-sm font-medium text-white"> City </label>
              <div class="mt-1">
                <input type="text" name="city" id="city" formControlName="city"  autocomplete="address-level2" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-2">
              <label for="province" class="block text-sm font-medium text-white"> State / Province </label>
              <div class="mt-1">
                <input type="text" name="province" id="province" formControlName="province"  autocomplete="address-level1" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-2">
              <label for="postalCode" class="block text-sm font-medium text-white"> ZIP / Postal code </label>
              <div class="mt-1">
                <input type="text" name="postalCode" id="postalCode" formControlName="postalCode" autocomplete="postal-code" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>
          </div>

          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">



            <div class="sm:col-span-3">
              <label for="startDate" class="block text-sm font-medium text-white"> From </label>
              <div class="mt-1">
                <input type="date" name="startDate" id="startDate" formControlName="startDate" autocomplete="given-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="endDate" class="block text-sm font-medium text-white"> To </label>
              <div class="mt-1">
                <input type="date" name="endDate" id="endDate" formControlName="endDate" autocomplete="given-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

              <button type="submit" [disabled]="!educationForm.valid"  class="flex bg-white items-center h-10 w-40 rounded-xl mb-4">
                <p class="ml-10 text-Jblue font-bold text-2xl">Submit</p>
              </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>





