<div *ngIf="
(mySkills$ | async)?.length !== 0 &&
 (myEducations$ | async)?.length !== 0 &&
 (myExperiences$ | async)?.length !== 0 &&
 (myCertificates$ | async)?.length !== 0 &&
(myLanguages$ | async)?.length !== 0"
     class="container mx-auto px-6 w-[1000px] h-auto mt-6 mb-6" id="myCvId">
  <div class=" border-Jblue border-8 cv text-Jorange font-sm" id="htmltable">
    <div class="grid grid-cols-2 gap-4 mt-6 mb-12">
      <div>
        <img class="ml-12" src="assets/logo_round.png" alt="jarchitects">
      </div>

<div class="ml-[-120px] mt-4 mr-24">
      <div class="text-white  font-bold grid justify-items-center">
        <h1 class="flex text-2xl">{{(user$ | async)?.firstname}} {{(user$ | async)?.lastname}}</h1>
        <hr class="flex w-[400px]">
      <p class="">Front-end developer</p>
      </div>
    </div>
    </div>

    <div class="grid grid-cols-2 mt-6">
        <div class="ml-6">
        <h4 class="font-bold mb-4"> <fa-icon [icon]="faContactCard" transform="grow-7" class="mr-2"></fa-icon> Contact info</h4>
        <ul class="text-black">
          <li class="mb-2">  <fa-icon [icon]="faPhone"></fa-icon> {{(user$ | async)?.phone}}</li>
          <li class="mb-2 text-xs"> <fa-icon [icon]="faMailBulk"></fa-icon> {{(user$ | async)?.email}}</li>
          <li class="mb-2">
            <p> <fa-icon [icon]="faLocation"></fa-icon> {{(user$ | async)?.street}} {{(user$ | async)?.number}}</p>
            <p class="font-light text-xs ml-5">{{(user$ | async)?.postalCode}} {{(user$ | async)?.city}} {{(user$ | async)?.country}}</p>
          </li>
          <li class="mb-2"> <fa-icon [icon]="faLink"></fa-icon> {{(user$ | async)?.linkedIn}}</li>
        </ul>
        </div>

      <div class="text-white ml-[-135px] mt-[-40px]   mr-6">
        <h4 class="text-white font-bold">About me</h4>
        <p class="font-light text-xs ">{{(user$ | async)?.description}}</p>
      </div>
    </div>

    <div class="grid grid-cols-2">
      <div>
        <div class="ml-8 mt-32">
          <h4 class="font-bold"> <fa-icon [icon]="faDriversLicense" transform="grow-7" class="mr-2"></fa-icon> Drivers licence</h4>
          <p class="text-black ml-14 font-bold">{{(user$ | async)?.driversLicence}}</p>
        </div>
      </div>
      <div class="text-white mt-[-40px] mr-6">
        <h4 class="text-white font-bold mb-4 ml-[-30px]"> <fa-icon [icon]="faGraduationCap" transform="grow-7" class="mr-2"></fa-icon> Education</h4>
        <div class="grid grid-cols-2" >
            <div *ngFor="let education of myEducations$  | async">
              <h4 class="font-bold">{{education.diploma}}</h4>
              <p class="mb-4 font-bold text-sm">{{education.school}}</p>
              <p class="text-sm"><span class="font-bold">Adress: </span> <span class="font-light">{{education.country}}</span></p>
              <p class="text-sm"><span class="font-bold">Website: </span> <span class="font-light">{{education.website}}</span> </p>
              <p class="mb-6 text-sm"><span class="font-bold">Field of study: </span> <span class="font-light">{{education.fieldOfStudy}}</span> </p>
            </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="ml-8 mt-48 ">
          <h4 class="font-bold"> <fa-icon [icon]="faEarth" transform="grow-7" class="mr-2"></fa-icon> Languages</h4>
          <div *ngFor="let language of myLanguages$  | async" class="text-black">
            <h4 class="font-bold mt-4">{{language.name}}</h4>
            <p class="text-sm"><span class="font-bold">speaking: </span> <span class="font-light">{{language.speaking}}</span></p>
            <p class="text-sm"><span class="font-bold">reading: </span> <span class="font-light">{{language.reading}}</span></p>
            <p class="text-sm"><span class="font-bold">writing: </span> <span class="font-light">{{language.writing}}</span> </p>
          </div>
        </div>
      </div>
      <div class="text-white mr-6 mt-6">
        <h4 class="text-white font-bold mb-4 ml-[-30px]"> <fa-icon [icon]="faCertificate" transform="grow-7" class="mr-2"></fa-icon> Certificates</h4>
        <div class="grid grid-cols-2" >
          <div *ngFor="let certificate of myCertificates$  | async">
            <h4 class="font-bold">{{certificate.name}}</h4>
            <p class="mb-4 font-bold text-sm">{{certificate.description}}</p>
            <p class="text-sm"><span class="font-bold">date: </span> <span class="font-light">{{certificate.dateEarned}}</span></p>
            <p class="text-sm"><span class="font-bold">length: </span> <span class="font-light">{{certificate.length}}</span> </p>
          </div>
        </div>
      </div>
    </div>


    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="ml-8">
        </div>
      </div>
      <div class="text-white mr-6 mt-6">
        <h4 class="text-white font-bold mb-4 ml-[-30px] mt-[-140px]"> <fa-icon [icon]="faBriefcase" transform="grow-7" class="mr-2"></fa-icon> Experience</h4>
        <div class="grid grid-cols-2" >
          <div *ngFor="let experience of myExperiences$  | async">
            <h4 class="font-bold">{{experience.profession}}</h4>
            <p class="mb-4 font-bold text-sm">{{experience.description}}</p>
            <p class="text-sm"><span class="font-bold">Adress: </span> <span class="font-light">{{experience.employer}}</span></p>
            <p class="text-sm"><span class="font-bold">Website: </span> <span class="font-light">{{experience.company}}</span> </p>
            <p class="mb-6 text-sm"><span class="font-bold">Field of study: </span> <span class="font-light">{{experience.city}}</span> </p>
          </div>
        </div>
      </div>
    </div>


    <div class="grid grid-cols-2 gap-4 mb-[70px]">
      <div>
        <div class="ml-8 mt-[80px]">
          <img class="w-[200px] h-auto" src="assets/jarchitects.png" alt="JARCHITECTS">
        </div>
      </div>
      <div class="text-white mr-6 mt-6">
        <h4 class="text-white font-bold mb-4 ml-[-30px]"> <fa-icon [icon]="faBrain" transform="grow-7" class="mr-2"></fa-icon> Skills</h4>
        <div class="grid grid-cols-2" >
          <div *ngFor="let skill of mySkills$  | async">
            <h4 class="font-bold">{{skill.name}}</h4>
            <p class="mb-4 font-bold text-sm">{{skill.description}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<hr>

<button
  printSectionId="myCvId"
  printTitle="{{(user$ | async)?.firstname}}-{{(user$ | async)?.lastname}}-CV-Jarchitects"
  ngxPrint
  [useExistingCss]="true"
>
  Print
</button>
