header {
  background-image: url("../../assets/waves.png");
  background-repeat: repeat-x;
}

.ontop {
  margin-left: -10px;
  margin-top: 22rem;
}

.sidebar {
  background-image: url("../../assets/sidebar.png");
  background-size: cover ;
}

.bgImage {
  background-image: url("../../assets/background.png");
  background-size: cover ;
}

.grow:hover{
  transform: rotate(0.75turn);
  transform: scale(1.2);
}


