<div class="h-full flex flex-col">
  <!-- Top nav-->
  <header *ngIf="isLoggedIn == true" class="flex-shrink-0 relative h-20 bg-Jblue flex items-center">

        <div class="md:flex-shrink-0 flex items-center justify-end h-20 w-60 rounded-br-full rounded-tr-full bg-indigo-500 ">
          <div class="mr-2 mt-4">
     <h1 class="font-bold text-white">My name</h1>
          </div>
      <a href="/" class="mr-4">
        <img class="h-12 w-auto" src="../../assets/logo_round.png" alt="Workflow">
      </a>
    </div>
    <!-- Menu button area -->
    <nav  class="absolute inset-y-0 right-0 pr-4 flex items-center sm:pr-6 md:hidden">
      <!-- Mobile menu button -->
      <button (click)="openNav()" type="button" class="-mr-2 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">
        <!-- Heroicon name: outline/menu -->
        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

    </nav>
    <!-- Mobile menu, show/hide this `div` based on menu open/closed state -->
      <div *ngIf="isShownNav" class="hidden sm:block sm:fixed sm:inset-0 sm:bg-gray-600 sm:bg-opacity-75" aria-hidden="true"></div>
      <nav *ngIf="isLoggedIn && isShownNav" class="fixed z-40 inset-0 h-full w-full bg-white sm:inset-y-0 sm:left-auto sm:right-0 sm:max-w-sm sm:w-full sm:shadow-lg" aria-label="Global">
        <div class="h-16 flex items-center justify-between px-4 sm:px-6">
          <a href="#">
            <img class="block h-8 w-auto" src="../../assets/logo_round.png" alt="Workflow">
          </a>
          <button (click)="closeNav()" type="button" class="-mr-2 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">
            <span class="sr-only">Close main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>


        <div class="max-w-8xl mx-auto py-3 px-2 sm:px-4">
          <a href="/" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">CV</a>

          <a href="/ContactInfo" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Contact info</a>

          <a href="/About" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">About</a>

          <a href="/Educations" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Educations</a>

          <a href="/Certifications" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Certificates</a>

          <a href="/Skills" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Skills</a>

          <a href="/Experiences" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Experiences</a>

          <a href="/Languages" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Languages</a>

          <a href="/Settings" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Settings</a>

          <a href="/Logout" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Logout</a>

        </div>
      </nav>
  </header>
  <!-- Bottom section -->
  <div  class="min-h-0 flex-1 flex overflow-hidden">
    <!-- Narrow sidebar-->
    <nav *ngIf="isLoggedIn" aria-label="Sidebar" class="hidden md:block md:flex-shrink-0 md:bg-Jorange md:overflow-y-auto">
      <div class="relative w-20 flex flex-col p-3 space-y-3">

        <a href="#" class="hover:bg-JorangeSelect text-white flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only ">CV</span>
          <fa-icon transform="grow-18" [icon]="faFile"></fa-icon>

          <!-- Heroicon name: outline/inbox -->
        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Contact info</span>
          <!-- Heroicon name: outline/archive -->
          <fa-icon transform="grow-18" [icon]="faIdCard"></fa-icon>
        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">About</span>
          <!-- Heroicon name: outline/user-circle -->
          <fa-icon transform="grow-18" [icon]="faMessage"></fa-icon>
        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Educations</span>
          <!-- Heroicon name: outline/ban -->
          <fa-icon transform="grow-18" [icon]="faGraduationCap"></fa-icon>

        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Certificates</span>
          <!-- Heroicon name: outline/flag -->
          <fa-icon transform="grow-18" [icon]="faCertificate"></fa-icon>
        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Experiences</span>
          <!-- Heroicon name: outline/pencil-alt -->
          <fa-icon transform="grow-18" [icon]="faBriefcase"></fa-icon>

        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Skills</span>
          <!-- Heroicon name: outline/ban -->
          <fa-icon transform="grow-18" [icon]="faLightbulb"></fa-icon>

        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Languages</span>
          <!-- Heroicon name: outline/ban -->
          <fa-icon transform="grow-18" [icon]="faEarthEurope"></fa-icon>

        </a>

        <a href="#" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Settings</span>
          <!-- Heroicon name: outline/ban -->
          <fa-icon transform="grow-18" [icon]="faGear"></fa-icon>

        </a>

        <a href="/login" class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg" (click)="logOut()">
          <span class="sr-only">Logout</span>
          <!-- Heroicon name: outline/ban -->
          <fa-icon transform="grow-18" [icon]="faRightFromBracket"></fa-icon>
        </a>
      </div>
    </nav>

    <!-- Main area -->
    <main class="min-w-0 flex-1 border-t border-gray-200 lg:flex">
      <!-- Primary column -->
      <section aria-labelledby="primary-heading" class="min-w-0 flex-1 h-full flex flex-col overflow-y-auto lg:order-last">
        <h1 id="primary-heading" class="sr-only">Home</h1>
        <router-outlet></router-outlet>

      </section>
    </main>
  </div>
</div>
