<div class="h-full flex flex-col">
  <!-- Top nav-->
  <header *ngIf="isLoggedIn == true" class="flex-shrink-0 relative h-20 bg-Jblue flex items-center">

        <div class="md:flex-shrink-0 flex items-center justify-end h-20 w-60 rounded-br-full rounded-tr-full bg-indigo-500 ">
     <h1 class="font-bold text-white mr-4">My name</h1>
      <a href="/src" class="mr-4">
        <img class="h-12 w-auto" src="../../assets/logo_round.png" alt="Workflow">
      </a>
    </div>
    <!-- Menu button area -->
    <nav  class="absolute inset-y-0 right-0 pr-4 flex items-center sm:pr-6 md:hidden">
      <!-- Mobile menu button -->
      <button (click)="openNav()" type="button" class="-mr-2 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">
        <!-- Heroicon name: outline/menu -->
        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

    </nav>
    <!-- Mobile menu, show/hide this `div` based on menu open/closed state -->
      <div *ngIf="isShownNav" class="hidden sm:block sm:fixed sm:inset-0 sm:bg-gray-600 sm:bg-opacity-75" aria-hidden="true"></div>
      <nav *ngIf="isLoggedIn && isShownNav" class="fixed z-40 inset-0 h-full w-full bg-white sm:inset-y-0 sm:left-auto sm:right-0 sm:max-w-sm sm:w-full sm:shadow-lg" aria-label="Global">
        <div class="h-16 flex items-center justify-between px-4 sm:px-6">
          <a href="#">
            <img class="block h-8 w-auto" src="../../assets/logo_round.png" alt="Workflow">
          </a>
          <button (click)="closeNav()" type="button" class="-mr-2 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">
            <span class="sr-only">Close main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>


        <div class="max-w-8xl mx-auto py-3 px-2 sm:px-4">
          <a href="/src" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">CV</a>

          <a href="/contactInfo" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Contact info</a>

          <a href="/educations" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Educations</a>

          <a href="/certifications" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Certificates</a>

          <a href="/skills" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Skills</a>

          <a href="/eExperiences" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Experiences</a>

          <a href="/languages" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Languages</a>

          <a href="/settings" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Settings</a>

          <a href="/login" (click)="logOut()" class="block rounded-md py-2 px-3 text-base font-medium text-gray-900 hover:bg-gray-100">Logout</a>

        </div>
      </nav>
  </header>
  <!-- Bottom section -->
  <div  class="min-h-0 flex-1 flex overflow-hidden">
    <!-- Narrow sidebar-->
    <nav *ngIf="isLoggedIn" [ngClass]="!isExtendSideBar ? '': 'w-60 sidebar'" class="hidden md:block md:flex-shrink-0 md:bg-Jorange md:overflow-y-auto" aria-label="Sidebar">
      <div class="relative w-20 flex flex-col p-3 space-y-3">

        <a href="/src" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'" class="hover:bg-JorangeSelect text-white flex-shrink-0 inline-flex items-center justify-center h-14 mt-1 rounded-lg">
          <fa-icon transform="grow-18" [icon]="faFile"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">CV</span>
        </a>



        <a href="/contactInfo" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Contact info</span>
          <fa-icon transform="grow-18" [icon]="faIdCard"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Contact info</span>
        </a>

        <a href="/educations" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Educations</span>
          <fa-icon transform="grow-18" [icon]="faGraduationCap"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Educations</span>


        </a>

        <a href="/certifications" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Certificates</span>
          <fa-icon transform="grow-18" [icon]="faCertificate"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Certifications</span>

        </a>

        <a href="/experiences" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Experiences</span>
          <fa-icon transform="grow-18" [icon]="faBriefcase"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Experiences</span>


        </a>

        <a href="/skills" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Skills</span>
          <fa-icon transform="grow-18" [icon]="faLightbulb"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Skills</span>


        </a>

        <a href="/languages" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Languages</span>
          <fa-icon transform="grow-18" [icon]="faEarthEurope"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Languages</span>
        </a>

        <a href="/settings" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg">
          <span class="sr-only">Settings</span>
          <fa-icon transform="grow-18" [icon]="faGear"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Settings</span>
        </a>

        <a href="/login" [ngClass]="!isExtendSideBar ? 'w-14': 'w-52'"  class="text-white hover:bg-JorangeSelect flex-shrink-0 inline-flex items-center justify-center h-14 w-14 mt-1 rounded-lg" (click)="logOut()">
          <span class="sr-only">Logout</span>
          <fa-icon transform="grow-18" [icon]="faRightFromBracket"></fa-icon>
          <span *ngIf="isExtendSideBar" class="ml-6">Logout</span>
        </a>
      </div>
    </nav>

    <div class="bgImage hidden md:block md:flex-shrink-0 md:bg-Jorange">
    <button *ngIf="isLoggedIn" (click)="toggleSideBar()" class="ontop bg-Jorange hover:bg-white hover:border-Jorange border-white border-2 hover:text-Jorange text-white h-8 w-8 justify-center rounded-lg">
      <fa-icon *ngIf="isExtendSideBar" [icon]="faAngleLeft"></fa-icon>
      <fa-icon *ngIf="!isExtendSideBar" [icon]="faAngleRight"></fa-icon>
    </button>
    </div>

    <!-- Main area -->
    <main class="min-w-0 flex-1 border-t border-gray-200 lg:flex bgImage">
      <!-- Primary column -->
      <section aria-labelledby="primary-heading" class="min-w-0 flex-1 h-full flex flex-col overflow-y-auto lg:order-last">
        <h1 id="primary-heading" class="sr-only">Home</h1>
          <router-outlet></router-outlet>


      </section>
    </main>
  </div>
</div>
