

<div id="pdf-container" class="ml-4"  *ngIf="candidate === true">
  <iframe class="cv-viewer"></iframe>
</div>



        <div [ngClass]="company === true && candidate === true ? 'xl:grid xl:grid-cols-2 mb-[70px]':''">




          <app-candidates  *ngIf="company === true"></app-candidates>
<!--            <app-cv-template  *ngIf="candidate === true"></app-cv-template>-->
        </div>

<!--      <aside class="hidden relative xl:order-first xl:flex xl:flex-col flex-shrink-0 w-96 border-r border-gray-200 overflow-y-auto">-->
<!--        <app-cv-items></app-cv-items>-->
<!--      </aside>-->




